html,
body{
    height: 100%;
}

.twi-dark-bg{
    background-color: #292D33;
}

.twi-max-height{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.twi-center-card{
    margin-bottom: 15%;
}

.twi-nav-tabs a{
    color: white;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: #343a40;
    color: white;
    border-color: #32383e #32383e #343a40;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-color: #7d7e80 #7d7e80 #7d7e80;
}
