html,
body{
    height: 100%;
}

.twi-dark-bg{
    background-color: #292D33;
}

.twi-max-height{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twi-center-card{
    margin-bottom: 15%;
}

.twi-nav-tabs a{
    color: white;
}

#twi-twitch-data-img{
    height: 15vh;
    width: 15vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    border-radius: 1vh;
}

.twi-twitch-data-viewer{
    margin-bottom: 2vh;
}

.twi-twitch-data-text{
    padding-left: 2vh;
}

.twi-twitch-submit{
    width: 25vh;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: #343a40;
    color: white;
    border-color: #32383e #32383e #343a40;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-color: #7d7e80 #7d7e80 #7d7e80;
}

.twi-loader {
    border: 10px solid #d2d2d2; /* Light grey */
    border-top: 10px solid #42403e; /* Blue */
    border-radius: 50%;
    width: 7vh;
    height: 7vh;
    animation: spin 2s linear infinite;
    margin: 2vh auto auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.twi-text-input{
    margin-top: 2vh;
}

#twi-lookup-section{
    display: none;
}

.twi-loader{
    display: none;
}

.twi-twitch-data-viewer{
    display: none;
}

#twi-err-msg{
    color: red;
    text-align: center;
}