html,
body{
    height: 100%;
}

.twi-dark-bg{
    background-color: #292D33;
}

.twi-max-height{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twi-center-card{
    margin-bottom: 15%;
}

.twi-nav-tabs a{
    color: white;
}

#twi-twitch-data-img{
    height: 15vh;
    width: 15vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    border-radius: 1vh;
}

.twi-twitch-data-viewer{
    margin-bottom: 2vh;
}

.twi-twitch-data-text{
    padding-left: 2vh;
}

#twi-twitch-submit{
    width: 25vh;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: #343a40;
    color: white;
    border-color: #32383e #32383e #343a40;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-color: #7d7e80 #7d7e80 #7d7e80;
}

.twi-loader {
    border: 10px solid #d2d2d2; /* Light grey */
    border-top: 10px solid #42403e; /* Blue */
    border-radius: 50%;
    width: 7vh;
    height: 7vh;
    animation: spin 2s linear infinite;
    margin: 2vh auto auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.twi-text-input{
    margin-top: 2vh;
}

#twi-lookup-section{
    display: none;
}

.twi-loader{
    display: none;
}

.twi-twitch-data-viewer{
    display: none;
}

#twi-err-msg{
    color: red;
    text-align: center;
}

.modal-body
{
    background-color: #343a40;
    color: #acacac;
    height: auto;
    max-height: 60vh;
    overflow-y: auto !important;
}

.modal-body li
{
    background-color: #343a40;
    color: #acacac;
}

.modal-content
{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: #343a40;
}

.modal-footer
{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    background-color: #212529;
}

.modal-header
{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    background-color: #212529;
    color: #acacac;
}

.modal-dialog{
    position: relative;
    display: table; /* This is important */
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

#twi-unfollower-modal li:hover{
    background-color: #2e3338;
}

#twi-twitch-check{
    margin-top: 1vh;
}

#twi-follow-stat-msg{
    margin-top: 1vh;
}

.footer {
    position: relative;
    margin-top: -15vh; /* negative value of footer height */
    height: 15vh;
    clear:both;
}

.twi-footer{
    text-align: center;
    background-color: #343a40!important;
}

.twi-footer-text{
    height: 100%;
    line-height: 8vh;
}

#twi-wrap {
    min-height: 100%;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -15vh;
    /* Pad bottom by footer height */
    overflow-y: hidden;
}

.twi-footer-span{
    padding-left: 2vw;
    display: inline-block;
}
.twi-fab{
    padding-right: 0.5vw;
    color: white;
    font-size: 2.5vh;
}

.twi-footer-span a{

}